# Task-1: Classification with smaple Vectorization process

# 1.Load the Yelp corpus data and preprocess the dataset using the following methods:

In [72]:
import pandas as pd
import string 
import nltk
nltk.download("stopwords")
from nltk.corpus import stopwords
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import recall_score, f1_score, precision_score, accuracy_score,classification_report
from sklearn.metrics import confusion_matrix
import warnings
warnings.filterwarnings('ignore')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mail4\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:
text_data=pd.read_csv('DS3_C3_S1_Yelp_Data_Practice.csv')
text_data

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0
...,...,...,...,...,...,...,...,...,...,...
9995,VY_tvNUCCXGXQeSvJl757Q,2012-07-28,Ubyfp2RSDYW0g7Mbr8N3iA,3,First visit...Had lunch here today - used my G...,review,_eqQoPtQ3e3UxLE4faT6ow,1,2,0
9996,EKzMHI1tip8rC1-ZAy64yg,2012-01-18,2XyIOQKbVFb6uXQdJ0RzlQ,4,Should be called house of deliciousness!\n\nI ...,review,ROru4uk5SaYc3rg8IU7SQw,0,0,0
9997,53YGfwmbW73JhFiemNeyzQ,2010-11-16,jyznYkIbpqVmlsZxSDSypA,4,I recently visited Olive and Ivy for business ...,review,gGbN1aKQHMgfQZkqlsuwzg,0,0,0
9998,9SKdOoDHcFoxK5ZtsgHJoA,2012-12-02,5UKq9WQE1qQbJ0DJbc-B6Q,2,My nephew just moved to Scottsdale recently so...,review,0lyVoNazXa20WzUyZPLaQQ,0,0,0
9999,pF7uRzygyZsltbmVpjIyvw,2010-10-16,vWSmOhg2ID1MNZHaWapGbA,5,4-5 locations.. all 4.5 star average.. I think...,review,KSBFytcdjPKZgXKQnYQdkA,0,0,0

# Method #1: Cleaning the reviews-removal of stop words and punctuation

In [3]:
def text_process(text_data):
    nopunc=[char for char in text if char not in string.punctuation]
    nopunc="".join(nopunc)
    return[word for word in nopunc.split() if word.lower() not in stopwords.words("english")]

# Method #2: Conversion of review text from list type to string type data.

In [4]:
def listTostring(text_data):
    str1=""
    return (str.join(text_data))

In [17]:
text_data.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [18]:
text_data.isnull().sum()

business_id    0
date           0
review_id      0
stars          0
text           0
type           0
user_id        0
cool           0
useful         0
funny          0
dtype: int64

# 2.Split data into training and test sets.

In [19]:
docs_train,docs_test,y_train,y_test=train_test_split(text_data.text,text_data.stars,test_size=0.03,random_state=42)

In [20]:
docs_train

7093    I've been coming here for several years.  Can'...
1408    I went to the one in Mesa on Baseline. I loved...
6690    Only went to the downstairs bar, but cannot wa...
3400    A buddy of mine takes me to this place for din...
108     It's just like pizza bianco without the wait. ...
                              ...
5734    Very relaxed atmosphere and employees are supe...
5191    07/25/11\n\nI have a new crush... and it's Chr...
5390    I've been frequenting the Dollar store for the...
860     I love the girls there. I get my eyebrows done...
7270    Scale of 1-10 (multiple visits):\n10 Food\n9 S...
Name: text, Length: 9700, dtype: object

In [21]:
y_train

7093    5
1408    4
6690    4
3400    3
108     5
       ..
5734    4
5191    3
5390    4
860     5
7270    5
Name: stars, Length: 9700, dtype: int64

# 3.Vectorize training and testing data using the vectorize below: TfidVectorizer().

In [27]:
myvector=TfidfVectorizer()
myobject=myvector.fit_transform(docs_train)
myobject1=myvector.transform(docs_test)

In [28]:
myobject.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

# 4.perform classification using the MultinomialNB() classifer.

In [29]:
MNB=MultinomialNB()
MNB.fit(myobject,y_train)

MultinomialNB()

In [30]:
MNB.fit(myobject,y_train)    #Training accurcy
MNB.score(myobject,y_train)

0.5327835051546391

In [31]:
#predict
y_pred=MNB.predict(myobject1)
y_pred

array([4, 5, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 5, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 4, 4, 5, 4,
       5, 4, 4, 4, 4, 5, 4, 4, 4, 4, 4, 5, 4, 4, 4, 4, 4, 4, 5, 4, 5, 4,
       4, 4, 4, 4, 3, 4, 4, 5, 4, 4, 4, 5, 4, 4, 4, 4, 5, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 4, 4, 4, 4, 5, 4, 4,
       4, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 4, 4, 5, 5, 4,
       4, 4, 4, 4, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 5, 5, 4, 4,
       4, 4, 4, 5, 5, 4, 4, 4, 5, 5, 4, 4, 4, 5, 5, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 4, 4, 5, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 5, 4, 5, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 5,
       4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4], dtype=int64)

In [32]:
print(accuracy_score(y_test[0:200],y_pred[0:200]))   #Testing accuracy

0.49

# 5.Display confusion matrix and classification reports.

In [73]:
confusion_matrix(y_test,y_pred)

array([[  0,   0,   0,  23,   0],
       [  0,   0,   0,  22,   3],
       [  0,   0,   1,  46,   1],
       [  0,   0,   0, 102,   9],
       [  0,   0,   0,  57,  36]], dtype=int64)

In [67]:
print('Accuracy',accuracy_score(y_test[0:200],y_pred[0:200]))

Accuracy 0.49

In [68]:
print('Recall_score',recall_score(y_test[0:200],y_pred[0:200],average="weighted"))

Recall_score 0.49

In [69]:
print('f1_score',f1_score(y_test[0:200],y_pred[0:200],average="weighted"))

f1_score 0.3907599234815878

In [70]:
print('Precision_score',precision_score(y_test[0:200],y_pred[0:200],average="weighted"))

Precision_score 0.5304986901197605

# classification reports

In [33]:
print("classification_report",classification_report(y_test[0:300],y_pred[0:300]))

classification_report               precision    recall  f1-score   support

           1       0.00      0.00      0.00        23
           2       0.00      0.00      0.00        25
           3       1.00      0.02      0.04        48
           4       0.41      0.92      0.57       111
           5       0.73      0.39      0.51        93

    accuracy                           0.46       300
   macro avg       0.43      0.27      0.22       300
weighted avg       0.54      0.46      0.37       300

# 6.Interpret the model using the evaluation metrics.

Accuracy and Recall_score are getting same weighted average.

# Task-2:Classification with Hyperparameterized vectorization process.

# 1.Vectorize training and testing datanusing the Vectorizer below:

In [48]:
myvector=TfidfVectorizer(sublinear_tf=True,max_df=0.5,min_df=1,stop_words=stopwords.words("english"),use_idf=True,smooth_idf=True)
myobject=myvector.fit_transform(docs_train)
myobject1=myvector.transform(docs_test)

In [50]:
myobject.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

# 2.perform classification using the MultinomialNB() classifer.

In [52]:
MNB2=MultinomialNB()            #Trainig accuarcy
MNB2.fit(myobject,y_train)

MultinomialNB()

In [53]:
MNB2.fit(myobject,y_train)
MNB2.score(myobject,y_train)

0.5582474226804124

In [54]:
#predict
y_pred1=MNB2.predict(myobject1)
y_pred1

array([4, 5, 4, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 5, 4, 4, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 5, 4, 4, 4, 5, 4,
       5, 4, 4, 4, 4, 5, 4, 4, 4, 5, 4, 5, 4, 4, 5, 4, 4, 4, 5, 4, 5, 4,
       4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 5, 4, 5, 4, 4, 5, 4, 4, 4, 4, 4,
       4, 4, 5, 4, 4, 4, 4, 4, 5, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 4, 4, 4, 4, 5, 4, 4,
       4, 5, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 4, 4, 5, 5, 4,
       4, 5, 4, 4, 5, 5, 4, 4, 4, 5, 4, 4, 4, 4, 4, 4, 5, 4, 5, 5, 4, 4,
       4, 4, 4, 4, 5, 4, 4, 5, 5, 5, 4, 4, 4, 5, 5, 4, 4, 4, 4, 4, 4, 5,
       4, 4, 4, 4, 4, 5, 5, 4, 5, 4, 4, 5, 4, 4, 4, 4, 4, 4, 4, 5, 5, 4,
       4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4,
       4, 5, 4, 5, 5, 4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4, 4, 5,
       4, 5, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 4, 4], dtype=int64)

In [55]:
print(accuracy_score(y_test[0:200],y_pred1[0:200]))

0.49

# 3.Display confusion matrix and classification reports.

In [74]:
confusion_matrix(y_test,y_pred1)

array([[  0,   0,   0,  19,   4],
       [  0,   0,   0,  20,   5],
       [  0,   0,   0,  47,   1],
       [  0,   0,   0, 100,  11],
       [  0,   0,   0,  52,  41]], dtype=int64)

In [63]:
print('Accuracy',accuracy_score(y_test[0:200],y_pred1[0:200]))

Accuracy 0.49

In [64]:
print('Recall_score',recall_score(y_test[0:200],y_pred1[0:200],average="weighted"))

Recall_score 0.49

In [65]:
print('f1_score',f1_score(y_test[0:200],y_pred1[0:200],average="weighted"))

f1_score 0.38558734131950656

In [66]:
print('Precision_score',precision_score(y_test[0:200],y_pred1[0:200],average="weighted"))

Precision_score 0.3469167050161067

# Classification reports.

In [57]:
print(classification_report(y_test[0:300],y_pred1[0:300]))

              precision    recall  f1-score   support

           1       0.00      0.00      0.00        23
           2       0.00      0.00      0.00        25
           3       0.00      0.00      0.00        48
           4       0.42      0.90      0.57       111
           5       0.66      0.44      0.53        93

    accuracy                           0.47       300
   macro avg       0.22      0.27      0.22       300
weighted avg       0.36      0.47      0.38       300

# 4.Interpret the model using the evaluation metrics.

Accuracy and Recall_score are getting more weighted average.

# Task-3: Inference

# Explain what happen when we passed the parameters below in TfidVectorizer().

In [178]:
TfidfVectorizer(sublinear_tf=True,max_df=0.5,min_df=1,stop_words=stopwords.words("english"),use_idf=True,smooth_idf=True)

TfidfVectorizer(max_df=0.5,
                stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...],
                sublinear_tf=True)

sublinear_tf=True: Applies a logarithmic scaling to term frequencies, making high-frequency terms have less impact.

max_df=0.5: Ignores terms that occur in more than 50% of the documents, filtering out common words.

min_df=1: Considers terms that appear in at least 1 document, ensuring even rare words are included.

stop_words=stopwords.words("english"): Removes common English stopwords like "the," "and," "is" from the text_data.

use_idf=True: Enables Inverse Document Frequency (IDF) weighting, giving higher weight to rare terms.

smooth_idf=True: Adds 1 to the document frequencies to avoid division by zero for terms outside the corpus.