In [56]:
import pandas as pd
import re
from time import time
from sklearn.preprocessing import Binarizer
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.multiclass import OneVsRestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report,precision_score,accuracy_score,f1_score,recall_score
import nltk
from nltk.corpus import stopwords
import warnings 
warnings.filterwarnings('ignore')

# Task-1

# 1.Load the tweet corpus train and test datasets.

In [57]:
train_data=pd.read_csv("DS3_C3_S2_TweetTrain_Data_Challenge.csv")
train_data.head()

,textID,text,selected_text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km�),Density (P/Km�)
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative,noon,21-30,Albania,2877797,27400.0,105
2,088c60f138,my boss is bullying me...,bullying me,negative,night,31-45,Algeria,43851044,2381740.0,18
3,9642c003ef,what interview! leave me alone,leave me alone,negative,morning,46-60,Andorra,77265,470.0,164
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative,noon,60-70,Angola,32866272,1246700.0,26

In [58]:
train_data.shape

(27481, 10)

In [59]:
train_data.columns

Index(['textID', 'text', 'selected_text', 'sentiment', 'Time of Tweet',
       'Age of User', 'Country', 'Population -2020', 'Land Area (Km�)',
       'Density (P/Km�)'],
      dtype='object')

In [60]:
test_data=pd.read_csv("DS3_C3_S2_TweetTest_Data_Challenge.csv")
test_data.head()

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km�),Density (P/Km�)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346,652860.0,60
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon,21-30,Albania,2877797,27400.0,105
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night,31-45,Algeria,43851044,2381740.0,18
3,01082688c6,happy bday!,positive,morning,46-60,Andorra,77265,470.0,164
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon,60-70,Angola,32866272,1246700.0,26

In [61]:
test_data.shape

(3534, 9)

In [62]:
test_data.columns

Index(['textID', 'text', 'sentiment', 'Time of Tweet', 'Age of User',
       'Country', 'Population -2020', 'Land Area (Km�)', 'Density (P/Km�)'],
      dtype='object')

# 2.Perform the missing values treatment if required.

In [63]:
train_data.isnull().sum()

textID              0
text                1
selected_text       1
sentiment           0
Time of Tweet       0
Age of User         0
Country             0
Population -2020    0
Land Area (Km�)     0
Density (P/Km�)     0
dtype: int64

In [64]:
test_data.isnull().sum()

textID              0
text                0
sentiment           0
Time of Tweet       0
Age of User         0
Country             0
Population -2020    0
Land Area (Km�)     0
Density (P/Km�)     0
dtype: int64

In [65]:
train_data.dropna(inplace=True)

# Task-2

# preprocessing the train and test tweet texts using the following two methods:

# Method1:Cleaning the reviews-removal of stopwords and punctucation.

In [66]:
import string

In [67]:
def text_process(text):
    nopunc=[char for char in text if char not in string.punctuation]
    nopunc=''.join(nopunc)
    return[word for word in nopunc.split() if word.lower() not in stopwords.words("english")]

In [69]:
x_train=train_data['text'].apply(text_process)

In [70]:
x_test=test_text['text'].apply(text_process)

In [71]:
y_train=train_data['sentiment'].apply(text_process)

In [49]:
y_test=test_data['sentiment'].apply(text_process)

# Method2:Conversatin of review text from list type to string type data.

In [104]:
def listToString(s):
    str1=""
    return(str1.join(s))

In [108]:
x_train=x_train.apply(listToString)

In [109]:
x_test=x_test.apply(listToString)

In [113]:
y_test=y_test.apply(listToString)

In [114]:
y_train=y_train.apply(listToString)

# Task-3

# 1.Convert text data into vector form.

In [110]:
myvector=TfidfVectorizer()
myobject=myvector.fit_transform(x_train)
myobject1=myvector.transform(x_test)

In [111]:
myobject.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

# 2.Classify data of four class using a one-vs-rest strategy with LogisticRegressin.

In [115]:
LR=LogisticRegression(max_iter=100)
ovr=OneVsRestClassifier(LR)
ovr.fit(myobject,y_train)

OneVsRestClassifier(estimator=LogisticRegression())

In [116]:
ovr.score(myobject,y_train)   #Training accuracy

0.9975618631732169

In [117]:
ovr.score(myobject1,y_test)    #Testing accuracy

0.41992076966610076

In [118]:
#predicting
y_pred=ovr.predict(myobject1)
y_pred

array(['neutral', 'neutral', 'neutral', ..., 'neutral', 'neutral',
       'neutral'], dtype='<U8')

# Task-4

# 1.Print the first 30 samples of predicted and actual uoutput as a table.

In [119]:
data=('Actual',y_test[0:30], 'Predicted',y_pred[0:30])
df=pd.DataFrame(data)
df.head()

                                                   0
0                                             Actual
1  0      neutral
1     positive
2     negative
3...
2                                          Predicted
3  [neutral, neutral, neutral, neutral, neutral, ...

# 2.Display the confusion matrix and classsification report.

In [120]:
#confusion_matrix
confusion_matrix(y_test,y_pred)

array([[  17,  984,    0],
       [   2, 1428,    0],
       [   0, 1064,   39]], dtype=int64)

In [121]:
#classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

    negative       0.89      0.02      0.03      1001
     neutral       0.41      1.00      0.58      1430
    positive       1.00      0.04      0.07      1103

    accuracy                           0.42      3534
   macro avg       0.77      0.35      0.23      3534
weighted avg       0.73      0.42      0.27      3534

In [122]:
print(accuracy_score(y_test,y_pred))

0.41992076966610076

In [123]:
print(f1_score(y_test,y_pred,average='weighted'))

0.26631841725206934

In [124]:
print(recall_score(y_test,y_pred,average='weighted'))

0.41992076966610076

In [125]:
print(precision_score(y_test,y_pred,average='weighted'))

0.7317770043513718

# 3.Write your interretion based on your obesrvations.

Precision_score is getting high accuracy.